<script src="ample-admin-lite-master/plugins/bower_components/jquery/dist/jquery.min.js"></script>
<script src="ample-admin-lite-master/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="ample-admin-lite-master/js/app-style-switcher.js"></script>
<script src="ample-admin-lite-master/plugins/bower_components/jquery-sparkline/jquery.sparkline.min.js"></script>
<script src="ample-admin-lite-master/js/waves.js"></script>
<script src="ample-admin-lite-master/js/sidebarmenu.js"></script>
<script src="ample-admin-lite-master/js/custom.js"></script>
<script src="ample-admin-lite-master/plugins/bower_components/chartist/dist/chartist.min.js"></script>
<script src="ample-admin-lite-master/plugins/bower_components/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js"></script>
<script src="ample-admin-lite-master/js/pages/dashboards/dashboard1.js"></script>

<footer class="footer text-center"> 2021 © Ample Admin brought to you by <a
        href="https://www.wrappixel.com/">wrappixel.com</a>
</footer>
