<div class="container mt-sm-5 my-1">
    <%= render 'shared/rightside' %>
    <div class="uestion ml-sm-5 pl-sm-5 pt-2">
        <div class="py-2 h5"><b>1. which option best describes your job role?</b></div>
        <div class="ml-md-3 ml-sm-3 pl-md-5 pt-sm-0 pt-3" id="options"> 
        <label class="options">Small Business Owner or Employee <input type="radio" name="radio"> <span class="checkmark"></span> </label> 
        <label class="options">Nonprofit Owner or Employee <input type="radio" name="radio"> <span class="checkmark"></span> </label> 
        <label class="options">Journalist or Activist <input type="radio" name="radio"> <span class="checkmark"></span> </label> 
        <label class="options">Other <input type="radio" name="radio"> <span class="checkmark"></span> </label> </div>
    </div>
    <div class="uestion ml-sm-5 pl-sm-5 pt-2">
        <div class="py-2 h5"><b>2. which option best describes your job role?</b></div>
        <div class="ml-md-3 ml-sm-3 pl-md-5 pt-sm-0 pt-3" id="options"> 
        <label class="options">Small Business Owner or Employee <input type="radio" name="radio"> <span class="checkmark"></span> </label> 
        <label class="options">Nonprofit Owner or Employee <input type="radio" name="radio"> <span class="checkmark"></span> </label> 
        <label class="options">Journalist or Activist <input type="radio" name="radio"> <span class="checkmark"></span> </label> 
        <label class="options">Other <input type="radio" name="radio"> <span class="checkmark"></span> </label> </div>
    </div>
    <div class="uestion ml-sm-5 pl-sm-5 pt-2">
        <div class="py-2 h5"><b>3. which option best describes your job role?</b></div>
        <div class="ml-md-3 ml-sm-3 pl-md-5 pt-sm-0 pt-3" id="options"> 
        <label class="options">Small Business Owner or Employee <input type="radio" name="radio"> <span class="checkmark"></span> </label> 
        <label class="options">Nonprofit Owner or Employee <input type="radio" name="radio"> <span class="checkmark"></span> </label> 
        <label class="options">Journalist or Activist <input type="radio" name="radio"> <span class="checkmark"></span> </label> 
        <label class="options">Other <input type="radio" name="radio"> <span class="checkmark"></span> </label> </div>
    </div>
    <div class="uestion ml-sm-5 pl-sm-5 pt-2">
        <div class="py-2 h5"><b>4. which option best describes your job role?</b></div>
        <div class="ml-md-3 ml-sm-3 pl-md-5 pt-sm-0 pt-3" id="options"> 
        <label class="options">Small Business Owner or Employee <input type="radio" name="radio"> <span class="checkmark"></span> </label> 
        <label class="options">Nonprofit Owner or Employee <input type="radio" name="radio"> <span class="checkmark"></span> </label> 
        <label class="options">Journalist or Activist <input type="radio" name="radio"> <span class="checkmark"></span> </label> 
        <label class="options">Other <input type="radio" name="radio"> <span class="checkmark"></span> </label> </div>
    </div>
    <div class="uestion ml-sm-5 pl-sm-5 pt-2">
        <div class="py-2 h5"><b>5. which option best describes your job role?</b></div>
        <div class="ml-md-3 ml-sm-3 pl-md-5 pt-sm-0 pt-3" id="options"> 
        <label class="options">Small Business Owner or Employee <input type="radio" name="radio"> <span class="checkmark"></span> </label> 
        <label class="options">Nonprofit Owner or Employee <input type="radio" name="radio"> <span class="checkmark"></span> </label> 
        <label class="options">Journalist or Activist <input type="radio" name="radio"> <span class="checkmark"></span> </label> 
        <label class="options">Other <input type="radio" name="radio"> <span class="checkmark"></span> </label> </div>
    </div>
    <div class="uestion ml-sm-5 pl-sm-5 pt-2">
        <div class="py-2 h5"><b>6. which option best describes your job role?</b></div>
        <div class="ml-md-3 ml-sm-3 pl-md-5 pt-sm-0 pt-3" id="options"> 
        <label class="options">Small Business Owner or Employee <input type="radio" name="radio"> <span class="checkmark"></span> </label> 
        <label class="options">Nonprofit Owner or Employee <input type="radio" name="radio"> <span class="checkmark"></span> </label> 
        <label class="options">Journalist or Activist <input type="radio" name="radio"> <span class="checkmark"></span> </label> 
        <label class="options">Other <input type="radio" name="radio"> <span class="checkmark"></span> </label> </div>
    </div>
    <div class="d-flex align-items-center pt-3">
        <div id="prev"> <button class="btn btn-primary">Previous</button> </div>
        <div class="ml-auto mr-sm-5"> <button class="btn btn-success" id="next">Next</button> </div>
    </div>
   
</div>
<div class="container" id="con_submit" >
    <button type="button" class="btn btn-success" id="submit">Submit</button>
    
</div>

