<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#"><img src="logo.jpg" alt="" width="50px" /></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <b class="logo-icon">
          <%= link_to '/' do %>
            <%= image_tag("ZINZA.png",:alt => "root", style: 'width: 50px;') %>
          <% end %>
        </b>
      </li>
    </ul>
  </div>
</nav>