<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav">
        <a class="navbar-brand" style="border-bottom: 1px solid #2f323e;background: #fff; border-radius: 5px" href="/">
          <b class="logo-icon">
            <%= image_tag("logo-icon.png", :alt => "admin#index") %>
          </b>
          <span class="logo-text">
            <%= image_tag("logo-text.png", :alt => "admin#index") %>
          </span>
        </a>
    </ul>
  </div>
</nav>