<div class="page-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="white-box">
          <h2><b>Edit Category</b></h2>
          <%= render partial: 'form', locals: { category: @category } %>
        </div>
      </div>
    </div>
  </div>
</div>