<tr>
  <th scope="row">
    <%= exam.id %>
  </th>
  <td>
    <%= link_to "Generate", generate_exam_path(exam), class: "btn btn-warning" %>
    <%= link_to "Show", exam_path(exam), class: "btn btn-info" %>
    <%= link_to "Delete", exam, method: :delete, data: { confirm: "Are you sure?" },
                                                    class: "btn btn-danger" %>
  </th>
  </td>
</tr>