<div class="content">
  <div class="row">
    <div class="content-question col-12 col-md-8" id="content-question">
      <div class="container">
        <div class="title">TEST</div>
        <div class="question" id="result">
          <%= render "form" %>
        </div>
      </div>
    </div>
    <div class="right-bar col-6 col-md-4" id="right-bar">
      <div class="sidebar" >
        <div class="timer">
          <div class="clock">
            <%= image_tag("icons8-clock-64.png", style: "width: 45px") %>
          </div> &nbsp
          <div class="time-minute" id="countdown"></div>
        </div>
        <br/>
        <div class="right-side">
          <% (0...rows).each do |row|%>
            <%= exam_process(row, @exam.results) %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  var totalSec    = <%= @remaining_time %>
      countDiv    = document.getElementById("countdown"),
      secpass,
      countDown   = setInterval(function () {
          secpass();
      }, 1000);
  function secpass() {
    var min = Math.floor(totalSec / 60);
    var sec  = totalSec % 60;
    if (sec < 10) {
      sec = "0" + sec;
    }
    if (min < 10) {
      min = "0" + min;
    }
    countDiv.innerHTML = min + ":" + sec;
    if (totalSec > 0) {
      totalSec = totalSec - 1;
    } 
    else {
      clearInterval(countDown);
      countDiv.innerHTML = "Time out";
      $(document).ready(function(){
        $(".submit-exam").submit();
      });
    }
  }
</script>