<div class="form-group mt-3">
  <%= form_with model: @exam do |e| %>
    <%= e.submit "Create Exam", class: "btn btn-success" %>
    <%= link_to "Back", exams_path, class: "btn btn-secondary" %>
  <% end %>
</div>